body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header .header-links a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1125px;
height: 79px;
left: 245px;
top: 10px;
}